.banner-main {
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #7fffd4;
  @extend %text-main;
  text-align: center;
}

.text-ban-back > h1 {
  max-width: 678px;
  margin-bottom: 16px;
  color: $colorMain;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.04em;
  @extend %pos-cent-marg;
}

.text-ban-back > h2 {
  max-width: 405px;
  font-size: 58px;
  color: $colorTextOrders;
  font-weight: 400;
  @extend %pos-cent-marg;
}

.text-ban-back {
  min-height: 422px;
  max-width: 843px;
  background-color: #fff;
  border-bottom-left-radius: 439px;
  border-bottom-right-radius: 439px;
}

.text-ban-wrp {
  max-width: 1440px;
  width: 100%;
  @extend %pos-cent-marg;
}

.__text-main-inst {
  @include main-text;
}

.text-bot-ban-wrp {
  max-width: 912px;
  width: 100%;
  @extend %pos-cent-marg;
  padding-top: 40px;
  margin-bottom: 40px;
}

.line {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: $border-grey;
  @extend %pos-cent-marg;
}

.terms-action-wrp {
  max-width: 1440px;
  width: 100%;
  padding-bottom: 73px;
  @extend %pos-cent-marg;
  @include main-text;
  text-align: left;
}

.terms-action-wrp > h3 {
  max-width: 414px;
  width: 100%;
  padding-top: 139px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

.terms-action-wrp > p {
  max-width: 721px;
  width: 100%;
  text-indent: 1.5em;
  font-size: 16px;
}

.terms-action-wrp > button {
  @include btn-inp-form;
  margin-left: 0;
}

.terms-action-back {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #7fffd4;
}

.terms-action-text {
  margin-bottom: 38px;
}