.banner-main {
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #7fffd4;
  @extend %text-main;
  text-align: center;
}

.text-ban-back > h1 {
  max-width: 678px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  color: $colorMain;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.text-ban-back > h2 {
  max-width: 405px;
  font-size: 58px;
  color: $colorTextOrders;
  font-weight: 400;
  @extend %pos-cent-marg;
}

.text-ban-back {
  min-height: 422px;
  max-width: 843px;
  background-color: #fff;
  border-bottom-left-radius: 439px;
  border-bottom-right-radius: 439px;
}

.text-ban-wrp {
  max-width: 1440px;
  width: 100%;
  @extend %pos-cent-marg;
}

.__text-main-inst {
  @include main-text;
}

.text-bot-ban-wrp {
  max-width: 912px;
  width: 100%;
  @extend %pos-cent-marg;
  padding-top: 40px;
  margin-bottom: 40px;
}

.line {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: $border-grey;
  @extend %pos-cent-marg;
}

.terms-action-wrp {
  max-width: 1440px;
  width: 100%;
  padding-bottom: 73px;
  @extend %pos-cent-marg;
  @include main-text;
  text-align: left;
  background-repeat: no-repeat;
  background-position: right;
}

.terms-action-wrp > h3 {
  max-width: 414px;
  width: 100%;
  padding-top: 139px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

.terms-action-wrp > p {
  max-width: 721px;
  width: 100%;
  text-indent: 1.5em;
  font-size: 16px;
}

.terms-action-wrp > a > button {
  @include btn-inp-form;
  margin-left: 0;
}

.terms-action-wrp > a > button:hover {
  background-color: $colorMainHov;
}

.terms-action-back {
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.terms-action-text {
  margin-bottom: 38px;
}

.terms-action-text-wrp {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  @include main-text;
}

.terms-action-text-wrp > h4 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 36px;
}

.mech-act-inst-odessa {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.mech-act-money {
  display: flex;
  border: 1px solid $colorMain;
  border-radius: 8px;
}

.mech-act-money > p,
.mech-act-inst > p {
  max-width: 328px;
  padding-left: 36px;
  display: flex;
  align-items: center;
  line-height: 24px;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  box-sizing: border-box;
}

.mech-act-inst {
  display: flex;
  border: 1px solid $colorMain;
  border-radius: 8px;
}

.product-wrp {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  @include main-text;
  font-size: 18px;
}

.attention-text {
  text-transform: uppercase;
}

.product-gallery {
  padding-top: 40px;
  margin-bottom: 40px;
}

.free-instal-wrp {
  max-width: 1440px;
  width: 100%;
  @extend %pos-cent-marg;
  background-repeat: no-repeat;
  background-position: right;
}

.list-sale {
  margin-bottom: 30px;
}

.sali-list-wrp {
  max-width: 1440px;
  width: 100%;
  padding-bottom: 73px;
  margin-bottom: 40px;
  @extend %pos-cent-marg;
  @include main-text;
  text-align: left;
  background-repeat: no-repeat;
  background-position: right;
}

.sali-list-wrp > h3 {
  padding-top: 123px;
  margin-bottom: 35px;
  font-size: 20px;
}

.sali-list-wrp > ul {
  max-width: 649px;
  margin-bottom: 30px;
  font-size: 18px;
}

.sali-list-wrp > a > button {
  @include btn-inp-form;
  margin-left: 0;
}

.sali-list-wrp > a > button:hover {
  background-color: $colorMainHov;
}

.text-sale-ras {
  max-width: 938px;
  margin-bottom: 70px;
  @extend %pos-cent-marg;
  @include main-text;
  font-size: 18px;
}

.slogon {
  @extend %pos-cent-marg;
}

.terms-action-back-mob {
  display: none;
}

.banner-main-mob {
  display: none;
}

@media (max-width: 1455px) {
  .line-wrp {
    padding: 0 16px;
  }
  .mech-act-inst-odessa {
    padding: 0 16px;
  }
  .terms-action-wrp {
    padding-left: 16px;
    padding-right: 16px;
  }
  .sali-list-wrp {
    padding-left: 16px;
  }
}

@media (max-width: 1343px) {
  .mech-act-inst-odessa {
    flex-direction: column;
    align-items: center;
  }
  .mech-act-inst-odessa > img {
    padding-top: 15px;
    margin-bottom: 15px;
    transform: rotate(90deg);
    max-width: 56px;
  }
  .mech-act-money,
  .mech-act-inst {
    margin-bottom: 15px;
    max-width: 639px;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .mech-act-inst {
    max-width: 639px;
    width: 100%;
  }
  .mech-act-money > p,
  .mech-act-inst > p {
    padding-bottom: 29px;
    text-align: center;
  }
  .mech-act-money > img,
  .mech-act-inst > img {
    margin-bottom: 19px;
  }
}

@media (max-width: 1155px) {
  .text-ban-back {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 0;
    display: flex;
    align-items: center;
    background-color: #fff0;
  }
  .text-ban-back > h1 {
    margin-left: auto;
  }
  .text-ban-back > h2 {
    display: none;
  }
  .text-ban-back > h1 {
    max-width: 345px;
    margin-bottom: 76px;
    padding: 20px;
    margin-left: 0;
    color: #fff;
    background-color: #00000080;
    font-size: 30px;
    letter-spacing: 0;
    text-align: left;
    font-weight: 500;
  }

  @media (max-width: 995px) {
    .terms-action-back-mob {
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .terms-action-back {
      display: none;
    }
    .banner-main {
      background-position: right;
    }
  }
  .terms-action-wrp > a > button {
    margin-left: auto;
  }
  .terms-action-wrp > h3 {
    padding-top: 24px;
    text-align: center;
  }
  // .banner-main {
  //   display: none;
  // }
  // .banner-main-mob {
  //   display: block;
  //   background-repeat: no-repeat;
  // }
}

@media (max-width: 525px) {
  .banner-main {
    background-position-x: -1129px;
  }
}
